extends ./layout/layout

block head
    title Encurtador de Link
    script(src="/jquery/clipboard.js")

block body
    .card.text-center.mx-auto(style="margin-top: 250px; width: 40rem;")
        .card-body
            h3.card-title Encurtador de Links
            p.card-text
                | Data da criação: <code>#{dateFormat}</code> <br>
                | Link original: <code>#{link}</code> <br>
                | Link encurtado:&nbsp;
                a(href=`${shortLink}` target="_blank") #{shortLink}
            a#copyButton.btn.btn-primary(aria-label=`${url}`) Copiar
            a.btn.btn-primary(href="/") Voltar
        .card-footer
            p.text-muted Código: #{code}